// Components :: Button

.im-button {
  @include transition($im-button-transition);
  @include user-select(none);
  background-color: $im-button-backgrond-color;
  border: 1px solid;
  border-color: $im-button-border-color;
  border-radius: $im-button-border-radius;
  box-shadow: $im-button-shadow;
  color: $color-link;
  display: inline-block;
  font-size: $im-button-font-size;
  font-weight: $font-weight-bold;
  height: $im-button-size;
  line-height: 1;
  padding: $im-button-padding;
  text-transform: capitalize;

  &:hover {
    box-shadow: $im-button--hover-shadow;
  }

  &:active {
    background-color: $im-button--active-backgrond-color;
    border-color: $im-button-border-color;
    box-shadow: $im-button--active-shadow;
  }

  &:focus {
    border-color: $im-button--focus-border-color;
    outline: none;
  }

  &:disabled,
  .is-disabled {
    color: $color-text--light;
    cursor: not-allowed;
    border-color: $im-button--disabled-border-color;
    box-shadow: none;
  }
}

// Modifiers
.im-button--primary {
  background-color: $im-button--primary-background-color;
  border-color: $im-button--primary-border-color;
  color: $white;

  &:hover {
    background-color: $im-button--primary--hover-background-color;
    box-shadow: $im-button--primary--hover-shadow;
  }

  &:active {
    background-color: $im-button--primary--active-background-color;
  }

  &:focus {
    box-shadow: $im-button--primary--focus-shadow;

    &:hover {
      box-shadow: $im-button--hover-shadow, $im-button--primary--focus-shadow;
    }

    &:active {
      box-shadow: $im-button--active-shadow, $im-button--primary--focus-shadow;
    }
  }

  &:disabled,
  .is-disabled {
    border-color: $im-button--primary-border-color;
    box-shadow: none;
    color: $white;
    opacity: 0.5;
  }
}

.im-button--link {
  border-color: transparent;
  box-shadow: none;

  &:hover {
    box-shadow: none;
    text-decoration: underline;
  }

  &:disabled,
  .is-disabled {
    border: none;
  }
}

.im-button--sm {
  font-size: $im-button--sm-font-size;
  height: $im-button--sm-size;
  line-height: 1;
}

.im-button--block {
  display: block;
}