// Variables :: Button

// Base
$im-button-backgrond-color:     $white !default;
$im-button-border-color:        $color-border $color-border $color-border-edge !default;
$im-button-border-radius:       $border-radius !default;
$im-button-padding:             0 1.5em !default;
$im-button-shadow:              0 1px 1px rgba($black, 0.08) !default;
$im-button-size:                36px !default !default;

// Modifier
$im-button--primary-background-color:   $color-link !default;
$im-button--primary-border-color:       $color-border--primary $color-border--primary $color-border--primary-edge !default;

// State
$im-button--hover-shadow:               0 2px 4px rgba($black, 0.12) !default;
$im-button--active-backgrond-color:     darken($im-button-backgrond-color, 6) !default;
$im-button--active-shadow:              none !default;
$im-button--focus-border-color:         $color-link !default;

// State :: Primary
$im-button--primary--hover-background-color:      lighten($im-button--primary-background-color, 4) !default;
$im-button--primary--hover-shadow:                0 2px 4px rgba($black, 0.16) !default;
$im-button--primary--active-background-color:     darken($im-button--primary-background-color, 4) !default;
$im-button--primary--focus-shadow:                0 0 0 1px $light-blue inset !default;
