// Variables :: Button

$im-button-border-color:        $color-border $color-border $color-border-edge $color-border !default;
$im-button-border-radius:       $border-radius !default;
$im-button-padding:             0 1.5em !default;
$im-button-shadow:              0px 1px 1px rgba($black, 0.08) !default;
$im-button-size:                36px !default !default;